absl-py==1.2.0
attrs==22.1.0
cycler==0.11.0
fonttools==4.37.1
kiwisolver==1.4.4
matplotlib==3.5.3
mediapipe==0.8.10.1
numpy==1.23.2
opencv-contrib-python==4.6.0.66
packaging==21.3
Pillow==9.2.0
protobuf==3.20.1
pygame==2.1.2
pyparsing==3.0.9
python-dateutil==2.8.2
six==1.16.0
